[run]
branch = True
source = 
    cient
    server

[report]
exclude_lines =
    pragma: no cover

    def __repr__
    def __str__

    raise AssertionError
    raise NotImplementedError

    if __name__ == .__main__.:
    __all__
    import

ignore_errors = True

[html]
directory = coverage_html_report
